.box{
    width: 480px;
    height: 400px;
    background-color: beige;
    border: 2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;
    transition: all 3s linear 1s;
}

.box:hover{
    /* transform: rotate(45deg); */
    /* transform: scale(2);
    transform: scale(0.5);
    transform: rotate(-45 deg);
    transform: skew(45deg); */
    /* transform: translate(500px,500px); */
    transform: matrix(1, 2, 3, 4, 5, 6);

}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    font-size: 36px;
}